/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background image */
.background {
    background-image: url('../img/462539681_8670810159609034_4679581168735523861_n.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

/* Header styling */
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

header img {
    width: 100px;
    height: auto;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #0077cc;
}

/* Centered block styling */
.center-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:azure;
    padding: 40px;
    width: 540px;
    text-align: center;
    box-shadow: 10px 6px 8px rgba(0, 0, 0, 0.2);
}

.center-block h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.center-block p {
    font-size: 18px;
    color: #666;
}
